@model Ecommerce.Item

<h2>
    @ViewBag.Header
</h2>
@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        Url = Url.Action("AddItem"),
        HttpMethod = "POST",
        OnSuccess = "showSavedResult(data)",
        OnFailure = "onFailure(data)"
    };
}

@using (Ajax.BeginForm(ajaxOpts))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

  

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
}