@model Ecommerce.SubCategory

<h2>
    @ViewBag.Header
</h2>


@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        Url = Url.Action("InsertSubCategory"),
        HttpMethod = "POST",
        OnSuccess = "showSavedResult(data)",
        OnFailure = "onFailure(data)"
    };
}

@using (Ajax.BeginForm(ajaxOpts))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        
        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubCategoryName)
            @Html.ValidationMessageFor(model => model.SubCategoryName)
        </div>

        <p>
            <input type="submit" value="Create"/>
        </p>
}
